<td class="table-division video">
  <div>{{this.name}}</div>
</td>
<td class="table-division video ">
  <div>{{this.difficulty_tag}}</div>
</td>
<td class="table-division video">
  <div>{{this.description}}</div>
</td>
<td class="table-division video">
  <input type="checkbox" name="course_videos" id="{{this._id}}" class="video-checkbox" value="{{this._id}}">
</td>