<td class="table-division">
  <div class="padding">{{this.name}}</div>
</td>
<td class="table-division">
  <div class="padding">{{this.url}}</div>
</td>
<td class="table-division">
  <div class="padding">{{this.difficulty_tag}}</div>
</td>
<td class="table-division">
  <div class="padding">{{this.description}}</div>
</td>
<td class="table-division">
  <div class="padding">{{this.front_end}}</div>
</td>
<td class="table-division">
  <div class="padding">{{this.back_end}}</div>
</td>
<td class="table-division">
  <div>{{this._id}}</div>
</td>
{{#if category}}
<td class="table-division">
  <input type="checkbox" name="course_videos" id="course_videos">
</td>
{{/if}}

{{#unless category}}
<td class="table-division">
  <a href="/video-edit/{{this._id}}" data-id-video="{{this._id}}" class="fa fa-edit table-icon edit-icon">Edit</a>
</td>
<td class="table-division">
  <button href="/video-delete/{{this._id}}" class="fa fa-trash table-icon delete-icon" data-id-video="{{this._id}}"
    aria-hidden="true">Delete</button>
</td>
{{/unless}}