<h2>Edit Course</h2>

{{#if msg}}
<p>{{msg}}</p>
{{/if}}

<form action="/course-edit/{{course._id}}" method="post" id="course-edit-form">
  <label for="course_name">Course name</label>
  <input type="text" name="course_name" id="course-name" value="{{course.course_name}}">

  <label for="course_difficulty">Difficulty</label>
  <select name="course_difficulty" id="course_difficulty" value="{{course.course_difficulty}}">
    <option value="{{course.course_difficulty}}">{{course.course_difficulty}}</option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Master">Master</option>
  </select>
  <label for="course_cursus">Cursus</label>
  <input type="text" name="course_cursus" id="course-name" value="{{course.course_cursus}}">

  <h4>Course videos</h4>
  {{#unless course.course_videos}}
  <p>This course has no videos yet. </p>
  {{/unless}}
  {{#each course.course_videos}}
  <p>{{this.name}} <button id={{this._id}}>Remove video from course</button></p>
  {{/each}}
  <h4>Select videos for the course</h4>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Video Name</th>
        <th class="table-head">Difficulty</th>
        <th class="table-head">Description</th>
        <th class=" table-head">Add video to course</th>
      </tr>
    </thead>

    <tbody>
      {{#each videos}}
      <tr class="table-row" id="{{this._id}}">
        {{> videos_row_course }}
      </tr>
      {{/each}}
      {{#unless videos}}
      <tr>
        <td colspan="9">Sorry no videos yet</td>
      </tr>
      {{/unless}}
    </tbody>
  </table>
  <button id="edit-course-submit-btn">Submit</button>
</form>